<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "Home")">TeamSpace</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li>@Html.ActionLink("Account", "Account", "Home")</li>
                        <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                        <li>@Html.ActionLink("Squads", "Squads", "Home")</li>
                        <li>@Html.ActionLink("Messages", "Messages", "Home")</li>
                        <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    </ul>
                </div>
            </nav>
            <div class="container body-content col-md-8">
                <!-- this is where the main page content will be displayed-->
                @RenderBody()
            </div>
            <div class="container body-content col-md-2">
                <!-- this is where upcoming events and announcements will go-->
            </div>
        </div>
    </div>
    

    
         



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
