<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "Home")">TeamSpace</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Account", "Home")">
                                <div>
                                    <img src="~/Content/Icon/man-user.svg" width="50" height="50" class="mx-auto d-block" />
                                    <h6 align="center">Account</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Calendar", "Home")">
                                <div>
                                    <img src="~/Content/Icon/calendar.svg" width="50" height="50" class="mx-auto d-block"/>
                                    <h6 align="center">Calendar</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Squads", "Home")">
                                <div class="mx-auto">
                                    <img src="~/Content/Icon/multiple-users.svg" width="50" height="50" class="mx-auto d-block" />
                                    <h6 align="center">Squads</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Messages", "Home")">
                                <div class="mx-auto">
                                    <img src="~/Content/Icon/chat.svg" width="50" height="50" class="mx-auto d-block" />
                                    <h6 align="center">Messages</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("FAQ", "Home")">
                                <div class="mx-auto">
                                    <img src="~/Content/Icon/question-mark.svg" width="50" height="50" class="mx-auto d-block" />
                                    <h6 align="center">FAQ</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container body-content col-md-9">
                <!-- this is where the main page content will be displayed-->
                @RenderBody()
            </div>
            <div class="container body-content col-md-2">
                <!-- this is where upcoming events and announcements will go-->
            </div>
        </div>
    </div>
    

    
         



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
