<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamSpace</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body{
            padding-top: 0;
        }
        .nav-item:hover {
            color: #0094ff
        }
        h1 {
           font-size: 80px;
           font-weight: 900;
           font-style:italic;

        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark flex-md-nowrap shadow mt-0">
        
        @Html.Partial("_LoginPartial")
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        
                        <li class="nav-item">
                            <div class="nav-item">
                                <a class="nav-link" style="color: inherit;" href=@Url.Action("Index", "Home")>
                                    <h1 style="font-size:70px;" align="center">TS</h1>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: inherit" href="@Url.Action("Account", "Home")">
                                <div>
                                    <img src="~/Content/Icon/man-user.svg" width="75" height="75" class="mx-auto d-block" />
                                    <h5 align="center">Account</h5>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: inherit" href="@Url.Action("Calendar", "Home")">
                                <div>
                                    <img src="~/Content/Icon/calendar.svg" width="75" height="75" class="mx-auto d-block"/>
                                    <h5 align="center">Calendar</h5>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: inherit" href="@Url.Action("Squads", "Home")">
                                <div class="mx-auto">
                                    <img src="~/Content/Icon/multiple-users.svg" width="75" height="75" class="mx-auto d-block" />
                                    <h5 align="center">Squads</h5>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: inherit" href="@Url.Action("Messages", "Home")">
                                <div class="mx-auto">
                                    <img src="~/Content/Icon/chat.svg" width="75" height="75" class="mx-auto d-block" />
                                    <h5 align="center">Messages</h5>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: inherit" href="@Url.Action("FAQ", "Home")">
                                <div class="mx-auto">
                                    <img src="~/Content/Icon/question-mark.svg" width="75" height="75" class="mx-auto d-block" />
                                    <h5 align="center">FAQ</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container body-content col-md-9">
                <!-- this is where the main page content will be displayed-->
                @RenderBody()
            </div>
            <div class="container body-content col-md-2">
                <!-- this is where upcoming events and announcements will go-->
                <div class="row">
                    <div class="col">
                        <h5 class="mt-3">Upcoming Events</h5>
                        <div class="list-group" >
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="@Url.Action("Event", "Home")" >
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Cheerapalooza</h6>
                                </div>
                                <p class="mb-1">Saturday, May 11th</p>
                                <p class="mb-1">9:00am</p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Sleepover at Becky's</h6>
                                </div>
                                <p class="mb-1">Saturday, May 11th</p>
                                <p class="mb-1">10:00pm</p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Bake Sale</h6>
                                </div>
                                <p class="mb-1">Wednesday, May 15th</p>
                                <p class="mb-1">3:00pm</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="mt-3">Announcements</h5>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Gluten Free Snacks Only</h6>
                                </div>
                                <p class="mb-1">For cheerleading events, please only bring gluten-free items for the...</p>
                                
                                <small>May 11th, 2019 4:00pm</small>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">No vaping in the locker room</h6>
                                </div>
                                <p class="mb-1">Vaping is bad, m'kay?</p>
                                
                                <small>May 10th, 2019 7:00pm</small>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Personal Hygiene 101</h6>
                                </div>
                                <p class="mb-1">Please remind your children to take a shower before coming to practice...</p>
                                
                                <small>April 15th, 2019 5:43pm</small>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
